.title {
    color: $darkBlue;
}

main {
    article {
        background-color: $white;
        padding: 4rem;
    }

    h2.title {
        color: $darkBlue;
        text-align: left;

    }

    h3 {
        color: $darkBlue;
        text-align: left;


        a {
            color: $greyBlue;
        }

    }

}