body {
    font-family: $fontFamily;
    font-weight: $fontWeight;

    background-color: $lightGrey;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1650px;
    background-color: $white;
}