//Midlertidig sass
@import 'colors';
@import 'fonts';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@700;900&display=swap');


body {
    font-family: $montserrat;
    font-weight: 500;
    font-size: $fontSize;
    background-color: $lightGrey;
}

div {
    margin: 8rem auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1650px;
}

nav {
    &.menu {
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding: 0;
        margin: 0;

        li {
            background-color: $darkBlue;
            color: $white;
            font-family: $roboto;
            flex-grow: 1;
            text-align: center;
            padding: 2rem;
            font-size: 1.5rem;
            font-weight: 900;
            margin: 0;

            &.active {
                background-color: $white;
                color: $darkBlue;
            }
        }
    }
}

main {
    background-color: $white;
    padding: 8rem;

    article {
        h1 {
            color: $darkBlue;
        }

        .title {
            color: $greyBlue;
        }
    }
}

@media only screen and (max-width: 965px) {
    nav ul li {
        padding: 1rem;
    }
}

@media only screen and (max-width: 700px) {
    $fontSize: 16px;

    div {
        margin: 0;
    }

    nav ul {
        display: block;

        li {
            padding: 0.5rem;
            font-size: $fontSize;
        }
    }

    main {
        padding: 2rem;
    }
}